// Цвета
$color-ui = var(--color-ui)
$color-ui-hover = var(--color-ui-hover)
$color-border = var(--color-border)
$color-text = var(--color-text)
$color-text-light = var(--color-text-light)
$color-active = var(--color-avtive)
$color-active = var(--color-avtive)

// Шрифты
$font-text = "ubuntu"

// Начертания
$regular = 300
$medium = 400
$bold = 900

:root
	--color-ui #dc0019
	--color-ui-hover #bd0016
	--color-border #f5f5f5
	--color-text #000000
	--color-text-light #999999
	--color-active #85b63e
	--color-link #1b75cb
	--color-link-hover var(-color-ui-hover)
