.layout
	min-height 100vh
	width 100%
	background-color $color-background
	display flex
	flex-direction column
	justify-content center
	align-items flex-start
	overflow-x hidden

	&__container
		display flex
		flex-direction column
		width 1300px
		margin-left auto
		margin-right auto

	&__content
		flex-center()
		width 100%

	&__footer
		width 100%
		height auto
		margin-top 40px

