.cars__filter
	display flex
	flex-direction column
	background-color $color-background-secondary
	border-radius $border-radius
	padding $gap

	&-row
		display flex
		width 100%

		& > *
			width 100% !important
			margin-top $gap

			&:not(:last-child)
				margin-right $gap

	&-action
		display flex
		justify-content flex-end
		margin-top $gap
